@import '@/assets/scss/_normalize.scss';

:root {
  --clr-bg: #323643;
  --clr-prime: #092a35;
  --clr-text-light: #fff;
  --clr-text-gray: #d8d8d8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-container {
  width: 100%;
  margin: 0 auto;
}

.ql-container.ql-snow {
  border-inline: none !important;
  border-block-end: none !important;
}

.ql-toolbar.ql-snow {
  border-color: var(--fk-color-border) !important;
  border-inline: none !important;
}

.ql-editor {
  min-height: 200px;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

textarea {
  resize: none;
}

input {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 22px;

  &:hover {
    background-color: rgba($color: #4bb4ff, $alpha: 0.1);
  }

  &:active {
    background-color: rgba($color: #4bb4ff, $alpha: 0.2);
  }
}

button:disabled {
  background-color: #cacaca !important;
  color: rgba($color: #000000, $alpha: 0.5) !important;
  pointer-events: none;
  user-select: none;
}

svg {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url("@/fonts/Roboto-Regular.ttf") format("truetype");
}
