.flex-c {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-container {
  width: 100%;
  margin: 0 auto;
}

.ql-container.ql-snow {
  border-inline: none !important;
  border-block-end: none !important;
}

.ql-toolbar.ql-snow {
  border-color: var(--fk-color-border) !important;
  border-inline: none !important;
}

.ql-editor {
  min-height: 200px;
  font-size: 18px;
}
